#todoapp h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 10px 0;
}

#todoapp input[type="text"] {
    display: block;
    width: 100%;
    
    border: 1px solid #999;
    outline: none;
    
    font-size: 32px;
    line-height: 1.6;
    padding: 5px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
}

#todoapp #main {
    margin-top: 10px;
}

#todoapp input::-webkit-input-placeholder { font-style: italic; }
#todoapp input::-moz-placeholder { font-style: italic; } /* firefox 19+ */
#todoapp input:-ms-input-placeholder { font-style: italic; } /* ie */
#todoapp input:-moz-placeholder { font-style: italic; }